[2022-09-30 13:11] aditya-464 opened #140 "I wish to add a program to find Permutation and Combination in CPP folder"
I wish to add a program to find Permutation and Combination in CPP folder.

**Please assign this issue to me under the "hacktoberfest" label**

[2022-09-30 13:14] Rajpreetkaur02 opened #141 "Recursion folder in Java"
I would like to add a recursion folder under Java programs in which I will add popular problems like N-Queens, Knight's tour, etc.

please assign it to me.

[2022-09-30 13:33] khushimarothi opened #142 "Add testimonial"
I want to add testimonial section code.
Tech stack used:- Html, CSS and JS.

Please assign it to me for hacktoberfest 2022.

[2022-09-30 15:52] maheshjainckd commented on #142
Assigned.

[2022-09-30 15:52] maheshjainckd commented on #141
Assigned.

[2022-09-30 16:05] aditya-464 commented on #140
Thank you @maheshjainckd

[2022-09-30 17:10] Sowham-3098 opened #149 "Mean and Median of an Array"
I want to add this code to this repository.
Please assign me and add the Hacktoberfest tag

[2022-09-30 17:13] Sowham-3098 commented on #149
@maheshjainckd Please assign me

[2022-09-30 17:14] Sowham-3098 opened #150 "Want to add a program to find 1's Complement and 2's Complement of a number in CPP"
@maheshjainckd Please assign me this task and tag the Hacktoberfest 2022

[2022-09-30 17:21] Sowham-3098 opened #151 "Number System Transformation Folder in CPP"
I want to add this folder in which I will add Binary to Decimal, Decimal to Binary, Binary to Octal, Octal to Binary, Binary to Hexadecimal ,Hexadecimal to Binary .
Please assign me this task and add the Hacktoberfest Tag

[2022-09-30 18:06] Shiyadh123 opened #153 "String folder in C++ and important problems on strings."
I would like to add a folder for Strings in C++ to have programs related to strings.
I will be adding problems such as:

- Palindrome or not.
- Reverse a string.
- Reverse words in a string.

Please assign this task to me @maheshjainckd .

[2022-09-30 18:47] beastvarun commented on #149
@maheshjainckd I'm a new programmer ,I have good grasp on C and CPP language. Currently i am learning DSA, so i want to  add code to this repository.
please assign me this for hactoberfest2022.

[2022-09-30 19:11] Dwaipayan-Maz commented on #149
Please assign me.

[2022-09-30 19:12] #153 closed

[2022-09-30 19:21] ManavArora26 opened #170 "Median of two sorted arrays of same size"
Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.

The overall run time complexity should be O(log (m+n)).

Example 1:

Input: nums1 = [1,3], nums2 = [2]
Output: 2.00000
Explanation: merged array = [1,2,3] and median is 2.
Example 2:

Input: nums1 = [1,2], nums2 = [3,4]
Output: 2.50000
Explanation: merged array = [1,2,3,4] and median

[2022-09-30 21:23] akshitsangwan commented on #150
Hey @Sowham-3098, I am interested to contribute to this task. Can you please assign me this task?

[2022-09-30 21:26] akshitsangwan commented on #170
Hey @ManavArora26, I am interested to contribute to this task. Can you please assign me this task?

[2022-09-30 22:03] mrsparkle-70 opened #210 "Factorial of a number in cpp"
A solution for this will be added by me

[2022-09-30 22:06] mrsparkle-70 opened #212 "First letter to appear twice solution in cpp"
A solution for the above problem

[2022-10-01 03:16] ishita1505 commented on #212
Please assign this issue to me

[2022-10-01 03:16] ishita1505 commented on #210
Please assign this issue to me

[2022-10-01 04:02] Harshit-3905 opened #229 "Add N Queen's Problem in Java"
Program to Solve N Queen Problem in Java

[2022-10-01 04:06] RidhikaJoshi opened #232 "Add Trapping Rain Water"
Program to solve Trapping Rain Water

[2022-10-01 04:24] alindsharmasimply opened #234 "Add Least Recently Used (LRU) Cache problem in C++"
Hi there,

I would like to raise a PR for a real life example of LRU cache in C++. Here we apply the data structures doubly linked list and hashmap together.
Kindly assign this to me under the hacktoberfest label.
Thanks!

[2022-10-01 04:26] Harshit-3905 commented on #229
Please Add 'Hacktober' Label

[2022-10-01 04:30] chiragchandnani10 commented on #210
Please assign this issue to me under "Hacktoberfest" title
I am a new programmer and I would like to contribute to this.
Thanks!

[2022-10-01 04:42] shivani1706 opened #240 "add inorder traversal for trees"
traversing the tree need some kind of traversal method.

add inorder traversal for that purpose.

[2022-10-01 04:44] ishita1505 commented on #240
Please assign this issue to me

[2022-10-01 04:45] khushimarothi opened #241 "Add valid parentheses code in cpp stack folder"
I want to add some leetcode questions in stack folder of cpp.
please assign it to me and add hacktoberfest labels

[2022-10-01 04:46] ishita1505 opened #243 "Remove Nth node from end of a list"
I wish to add a program to Remove Nth node from end of a list in CPP folder.

Please assign this issue to me under the "hacktoberfest" label

[2022-10-01 04:51] anudeeps0306 opened #246 "I would like to add a folder that contains all operations for a linked list, circular linked list, double link list, stack, etc"
Can you please assign this to me and add hacktoberfest label to it.

[2022-10-01 05:10] Shiyadh123 opened #263 "Cycle detection in undirected graph [Graph][C++]"
I would like to add the program to detect cycle if present in an undirected graph.
Please assign this task to me @maheshjainckd

[2022-10-01 05:58] SiddhantPawar03 opened #278 "Infix to Postfix using Stack"
I'm a participant of hacktoberfest-2022.
I would perform infix to postfix operation to enhance stack usage. Would like to contribute to this repository.
Please accept my issue

[2022-10-01 06:00] himanshu17-2000 commented on #278
Hello there, @maheshjainckd ,  I would like to contribute to this issue, therefore kindly give it to me.

[2022-10-01 06:01] himanshu17-2000 commented on #263
Hello there, @maheshjainckd  would like to contribute to this  issue , please assign it to me

[2022-10-01 06:02] himanshu17-2000 commented on #246
Hello there, @maheshjainckd would like to contribute to this issue , please assign it to me and can you add hacktoberfest label to it , Thankyou

[2022-10-01 06:02] himanshu17-2000 commented on #241
Hello there, @maheshjainckd would like to contribute to this issue , please assign it to me and can you add hacktoberfest label to it , Thankyou

[2022-10-01 06:05] Rajpreetkaur02 commented on #141
I have created a pull request for the same, kindly see to it.
#147

[2022-10-01 06:12] Nkashyap-anand opened #290 "i have push c++ problem solutions pls assign me HACKTOBERFEST-ACCEPTED label"
i have push famous leetcode problem solutions pls assign me HACKTOBERFEST-ACCEPTED label

[2022-10-01 06:17] SiddhantPawar03 commented on #278
/assign

[2022-10-01 06:19] sagnik2001 opened #295 "I would like to contribute to this project. Fractional Knapsack"
I have created a PR request for this. Kindly review it

[2022-10-01 06:28] Rajpreetkaur02 opened #301 "add Black-jack game made using HTML, CSS, and JavaScript"
I would like to add the Black-Jack game under the folder web development.

Please assign it to me.

[2022-10-01 07:00] chetansingh-2 opened #320 "Basic form website using php sql to store the data"
Please assign this task to me. I want to add my project under web development folder. @maheshjainckd

[2022-10-01 07:06] Paawan9700 opened #325 "Dijkstra's Algorithm"
The best algorithm for finding shortest possible path in a graph.

[2022-10-01 07:08] Paawan9700 opened #327 "Bellman-ford Algorithm"
Best algorithm for finding shortest path having negative edges.

[2022-10-01 07:10] Paawan9700 opened #329 "Minimum Spanning Tree"
I would like to contribute in this algorithm

[2022-10-01 07:13] Paawan9700 opened #331 "Queue Implementation using stack"
I would like to contribute in this.

[2022-10-01 07:15] Harshul02 opened #334 "I want to add Black-Jack Game"
It is a web based project created using HTML, CSS, JavaScript.

[2022-10-01 07:16] #334 closed

[2022-10-01 07:20] Harshul02 opened #338 "I want to add Black-Jack Game"
It is a web based Game project created using HTML, CSS and JavaScript.

Please assign it to me for hacktoberfest 2022.

[2022-10-01 07:28] Harshul02 opened #342 "Chrome Extension"
I have created a Chrome Extension which is used to save important links or tabs.

Please assign it to me for hacktoberfest 2022.

![Screenshot (180)](https://user-images.githubusercontent.com/95930860/193398274-69688fb7-b5fc-45a2-87c6-76f372fd60d4.jpg)

[2022-10-01 07:39] stutimohta20 opened #345 "Kadane's Algorithm in cpp"
Please assign this issue to me @maheshjainckd under hacktoberfest

[2022-10-01 07:50] RavishGupta commented on #345
#include <bits/stdc++.h>
using namespace std;

int maxSubArraySum(int a[], int size)
{
    int max_so_far = INT_MIN, max_ending_here = 0;

    for (int i = 0; i < size; i++) {
        max_ending_here = max_ending_here + a[i];
        if (max_so_far < max_ending_here)
            max_so_far = max_ending_here;

        if (max_ending_here < 0)
            max_ending_here = 0;
    }
    return max_so

[2022-10-01 07:57] Garvit414 commented on #210
I want to contribute to this under "Hacktoberfest 2022" title.
Please assign this issue to me.

[2022-10-01 07:57] sagnik2001 commented on #345
I have already created a pr for this issue

[2022-10-01 07:59] Sayam06 opened #354 "can i add sudoku solver code?"

[2022-10-01 08:19] a-Cash-dixit commented on #325
I am going to create a folder inside CPP folder called graphs and create a new file of Dijkstra's algorithm. Sir please assign me.

[2022-10-01 08:21] a-Cash-dixit commented on #232
I a going to add trapping rain water code inside CPP folder. Please assign me mam.

[2022-10-01 08:25] a-Cash-dixit opened #364 "Longest Common Subsequence"
I will add LCS code under Dynamic Programming Folder. Please assign me under Hacktoberfest.

[2022-10-01 08:35] a-Cash-dixit commented on #364
i have sent the pull request

[2022-10-01 09:02] umadhatri opened #375 "Not accepted in Hacktoberfest 2022"
It says that the repo is not accepted for Hacktoberfest 2022. Is it the repo or my PR? Please let me know which issue is it
![Screen Shot 2022-10-01 at 2 32 00 PM](https://user-images.githubusercontent.com/97341880/193401902-97684d9d-7938-444e-b5df-0e711c0c4e44.png)

[2022-10-01 09:07] maheshjainckd commented on #345
Closing this issue because code for kadane algorithm is already present in repository. Kindly check repository before opening any new issues. Thanks

[2022-10-01 09:07] #345 closed

[2022-10-01 09:14] maheshjainckd commented on #375
It is showing because your pull request is not reviewed by any of moderators till now. Once your pull request is approved with hacktoberfest-accepted then it will update.

[2022-10-01 09:14] #375 closed

[2022-10-01 09:36] RavishGupta commented on #345
please check my pr median of two sorted arrays

On Sat, 1 Oct 2022 at 14:37, Mahesh Jain ***@***.***> wrote:

[2022-10-01 11:07] chiragchandnani10 opened #413 "I would like to implement Binary Trees in C++"
I would like to implement Binary Trees in C++ for this project.
Please assign this to be a HacktoberFest. Thanks!

[2022-10-01 11:32] stutimohta20 opened #427 "Tim sort"
Sorting algorithm in cpp . Please assign this to me under hacktoberfest @maheshjainckd

[2022-10-01 12:05] umadhatri commented on #375
Thank you

[2022-10-01 12:07] ritishbhardwaj opened #439 "Maximum Difference Between Two Elements in array"
This algorithm will help to find out the maximum difference between two elements in array such that index of larger element is greater than index of smaller element.

[2022-10-01 12:08] ritishbhardwaj commented on #439
@maheshjainckd
Please assign me this issue

[2022-10-01 12:23] AvidCoder101 opened #446 "This repo is excluded from Hacktoberfest"
![image](https://user-images.githubusercontent.com/70807684/193409450-a24bd598-07e5-44ea-b9ad-11006ac09252.png)

Looks like the repo is excluded. I would make contributors aware :)

[2022-10-01 12:41] AD1TYA03 commented on #446
Thanks

[2022-10-01 13:14] RiteshKr00 opened #455 "Add hacktoberfest Label"
[Link](https://github.com/maheshjainckd/Hacktoberfest2022-for-everyone/pull/434)

[2022-10-01 13:50] Rajpreetkaur02 commented on #141
I have created another pull request #464 Please check.

Thank you for your patience.

[2022-10-01 13:50] sumitbaroniya commented on #342
chrome extension added

[2022-10-01 14:08] shivamsdk opened #469 "Face Recognition Using Python"
For Hacktoberfest 2022

[2022-10-01 14:14] dheerajgajula02 commented on #469
is this official for hacktober fest 2022?
I would like to work on this? @shivamsdk

[2022-10-01 14:17] Sowham-3098 commented on #150
@maheshjainckd Please assign me this task.

[2022-10-01 14:51] stubborn-1508 opened #484 "Maximum Sum Square SubMatrix"
I would like to add how to find the max sum subsquare matrix in a parent square matrix using cpp.

[2022-10-01 14:53] stubborn-1508 opened #485 "Linkedin-Auto connect bot"
I would like to add the code of using selenium library of python to make a bot for sending auto connect requests to people of user's interest.

[2022-10-01 15:03] stubborn-1508 opened #487 "Color ball dancing on the screen game"
I would like to add javascript code of adding infinite balls on the screen by clicking on the screen and dragging the arrow to adjust the speed and throw it out on the screen.[https://color-balls.vercel.app/](url)

[2022-10-01 17:25] arshya-garg commented on #278
I would like to contribute to this issue, so please assign it to me

[2022-10-01 17:26] arshya-garg commented on #212
I would like to contribute to this issue, so please assign it to me.

[2022-10-01 17:26] arshya-garg commented on #149
I would like to contribute to this issue, so please assign it to me.

[2022-10-01 17:27] arshya-garg commented on #240
I would like to contribute to this issue, so please assign it to me.

[2022-10-01 17:30] vishwasgowdahv commented on #210
Assign to me I’ll do it

[2022-10-01 17:38] #446 closed

[2022-10-01 17:54] HellspawnXerxes opened #515 "Moore's Voting Algorithm in C++ to find the majority element in an array"
**Please include this as HACKTOBERFEST 2022 issue. I really need that t-shirt. I will be very grateful to you. Pls tag this as Hacktoberfest so it can be counted.**
I have even commented every step as well in order to make it more understandable and readable.

[code]

[2022-10-01 18:22] Shreya241 opened #521 "Find first and last occurrence of any number in an array"
I want to write a code that will give the index of the first and last occurrence of a number in a given array. @maheshjainckd please assign this to me under hacktoberfest2022

[2022-10-01 18:33] khushimarothi commented on #142
This project shows excluded on my hacktoberfest profile @maheshjainckd

[2022-10-01 19:01] lhpellizzon opened #527 "JS Typewritter script"
JavaScript TypeWritter script that allows you to add one or more texts that will be displayed on the webpage in a typing way, and when the text reaches the end the script will then start going backwards, deleting the text and moving to the new one.

Good for Portfolio and keywords

[2022-10-01 19:22] RhyshaKachari commented on #487
Hiii @maheshjainckd I'd like to take up this issue :) This can be done with simple CSS animation. Kindly assign this to me.

[2022-10-01 19:29] RhyshaKachari commented on #338
@maheshjainckd I'd like to take up this issue. I can solve this issue using Python.Kindly assign this issue to me.

[2022-10-01 19:42] Anjani27 opened #533 "Subset Generation using Bit Masking in C++"
Hi, @maheshjainckd I would like to contribute to this repo and add a program of Subset Generation using Bit Masking in C++ .
Please assign this to me under Hacktoberfest .
Thanks!!

[2022-10-01 22:09] Anushree1291 commented on #141
I would like to add a recrsion folder that has dynamic programing, backtracking, Conquer and divide and other advanced recursion problems. Please do assign me the task.

[2022-10-01 22:15] Anushree1291 commented on #142
@maheshjainckd I have also added the Pull request. Please do review it. This is my first time participating in hacktober fest. If there is an error from my side, do tell me.

[2022-10-02 02:03] khushimarothi commented on #142
This issue is already resolved.  You need to create some other issue.

[2022-10-02 02:16] maheshjainckd commented on #142
Yes, It got excluded from hacktoberfest2022.

[2022-10-02 02:20] khushimarothi commented on #142
Why :( . This means the contributions will not be counted

[2022-10-02 06:19] maheshjainckd commented on #142
you can contribute to below project.
https://github.com/dikshantrajput/Hacktoberfest-accepted-2022

[2022-10-02 06:22] maheshjainckd commented on #533
@Anjani27 you can also contribute to this repo https://github.com/dikshantrajput/Hacktoberfest-accepted-2022

[2022-10-02 06:23] maheshjainckd commented on #527
@lhpellizzon you can also contribute to these repos
https://github.com/dikshantrajput/hacktoberfest-2022-react
https://github.com/dikshantrajput/Hacktoberfest-accepted-2022

[2022-10-02 06:24] maheshjainckd commented on #521
@Shreya241 you can also contribute to these repos, make sure you don't spam :)
https://github.com/dikshantrajput/hacktoberfest-2022-react
https://github.com/dikshantrajput/Hacktoberfest-accepted-2022

[2022-10-02 06:26] maheshjainckd commented on #487
@RhyshaKachari @stubborn-1508

[2022-10-02 06:28] AyushBorage28 commented on #521
I am an experienced dsa programmer. Please assign this task to me.

[2022-10-02 06:28] maheshjainckd commented on #469
@shivamsdk @dheerajgajula02 you can also contribute to these repos for hacktoberfest2022 make sure you don't spam :)
https://github.com/dikshantrajput/hacktoberfest-2022-react
https://github.com/dikshantrajput/Hacktoberfest-accepted-2022

[2022-10-02 06:29] #455 closed

[2022-10-02 06:29] AyushBorage28 commented on #413
I am an experienced dsa programmer with 4star rating on codechef pls assign this issue to me

[2022-10-02 06:30] AyushBorage28 commented on #413
under the hacktoberfest label

[2022-10-02 06:30] maheshjainckd commented on #338
@Harshul02 you can also contribute to these repos, make sure you don't spam :)
https://github.com/dikshantrajput/hacktoberfest-2022-react
https://github.com/dikshantrajput/Hacktoberfest-accepted-2022

[2022-10-02 06:30] maheshjainckd commented on #320
@chetansingh-2 you can also contribute to these repos, make sure you don't spam :)
https://github.com/dikshantrajput/hacktoberfest-2022-react
https://github.com/dikshantrajput/Hacktoberfest-accepted-2022

[2022-10-02 06:30] #290 closed

[2022-10-02 06:35] maheshjainckd commented on #521
@AyushBorage28

[2022-10-02 07:17] Sandyy07 commented on #364
Kindly please assign me this issue .

[2022-10-02 07:20] Shreya241 commented on #521
Sure, Thanks :)

[2022-10-02 08:11] thelordzeus opened #582 "Binary search algorithm with explanations and time complexity."
i would like to add a proper documented version of the binary search algorithm with the explanation of all the cases in time complexity

[2022-10-02 09:20] sanyayaa opened #590 "Add 2 question of Array in cpp"
Hi, @maheshjainckd  I would like to contribute to this repository

I want to add 2 Questions in Array Practice folder
1. Merge Two sorted Array
2. Rotate an Array

Please assign this to me under Hacktoberfest .
Thanks!!

[2022-10-02 09:39] stubborn-1508 commented on #485
Please can you assign it to me under the label hacktoberfest.

[2022-10-02 09:41] stubborn-1508 commented on #487
Please can you assign this issue under the label hacktoberfest.

[2022-10-02 10:15] nimeshika06 commented on #590
Hi, @maheshjainckd I would like to contribute to this repository

I want to add 2 Questions to Array Practice folder
             1.Merge Overlapping subintervals
              2. repeat and missing numbers
Please assign this to me under Hacktoberfest.
Thanks!!

[2022-10-02 10:17] nimeshika06 commented on #354
Hi, @Sayam06  I would like to contribute to this repository
Please assign this to me under Hacktoberfest .
Thanks!!

[2022-10-02 10:39] samruddhi2003 opened #599 "new issue"
can we add a dark mode?

[2022-10-02 11:03] Shreya241 commented on #521
@maheshjainckd this repos are excluded form hacktoberfest2022.

[2022-10-02 11:31] HellspawnXerxes commented on #515
Hey @maheshjainckd can you explain me how to create a pull request? i cloned the repo and forked it. how to proceed from here?

[2022-10-02 11:38] maheshjainckd commented on #521
Yes, Not sure why it's happening.

On Sun, Oct 2, 2022, 16:33 Shreya Agrawal ***@***.***> wrote:

[2022-10-02 12:04] shivamsdk opened #605 "Hangman Game Using Python"
Please Assign Me For This Work , It Will Help Me For Hacktoberfest PR Please , Hacktoberfest

[2022-10-02 12:16] HellspawnXerxes opened #608 "Josephus Problem using Recursion"
Can you assign this problem to me? I have solved this question in C++. Also I will be really grateful if you tag this as my Hacktoberfest 2022 contribution.

[2022-10-02 13:11] HellspawnXerxes commented on #515
Hey @maheshjainckd  my contribution status says excluded PR on hacktoberfest website. How to correct it?

[2022-10-02 13:33] ItzLevvie commented on #375
This repository has been **_permanently_** excluded from Hacktoberfest 2022. This means that any pull requests (PRs) made to this repository **_will_** not be counted towards your contributions for Hacktoberfest 2022.

Please contribute to **_valuable_** repositories instead of sending pull requests (PRs) to repositories that are there to defeat the whole purpose of Hacktoberfest 2022.

Any repeat

[2022-10-02 13:33] ItzLevvie commented on #446
This repository has been **_permanently_** excluded from Hacktoberfest 2022. This means that any pull requests (PRs) made to this repository **_will_** not be counted towards your contributions for Hacktoberfest 2022.

Please contribute to **_valuable_** repositories instead of sending pull requests (PRs) to repositories that are there to defeat the whole purpose of Hacktoberfest 2022.

Any repeat

[2022-10-02 14:21] maheshjainckd commented on #515
Sorry to inform, but this repo is excluded from hacktoberfest2022. You can contribute to any of other open source projects for Hacktoberfest.

[2022-10-02 14:21] #515 closed

[2022-10-02 14:26] Rashmisingh-18 opened #621 "Topological Sorting Using BFS"
Hey @maheshjainckd, could you please assign this issue to me under Hacktoberfest 2022? I can code it in C++.

[2022-10-02 15:58] sumitkr2000 opened #628 "Simon Game usisng Javascript"
Hey @maheshjainckd I have made an awesome game using javascript. I want to add this project in this repo. Can you please assign me this issue. Thank you. Below is the screenshot of the game.

![Screenshot (314)](https://user-images.githubusercontent.com/100675296/193463600-ea21c87e-8559-446a-8a6a-5aca6180d6b3.png)

[2022-10-02 16:10] RachitGarg-12 commented on #327
Hey @Paawan9700  please assign me this task , i am new to open source and would like to make my first contribution.

[2022-10-02 16:11] RachitGarg-12 commented on #621
Hey @Paawan9700  please assign me this task , can you please assign this task to me , i have  2 years of experience coding in c++.

[2022-10-02 16:12] RachitGarg-12 commented on #331
Hey @Paawan9700  please assign me this task , can you please assign this task to me , i would like to contribute in this

[2022-10-02 18:28] smilewithkhushi opened #643 "Data Structure Queue using CPP"
Can I add the array, templates and linked list implementation of Queue?

[2022-10-02 18:42] Dharansh-Neema opened #645 "Height of Binary Tree"
Recursively calculating height of left and right subtrees

[2022-10-02 18:44] Dharansh-Neema commented on #645
@maheshjainckd Can you please assign this issue to me

[2022-10-02 19:40] codingkush opened #649 "Create a beautiful music player web app"
This music player contain play, pause and next and previous song features and you can listen beautiful songs

[2022-10-02 19:40] codingkush commented on #649
Pls assign to me this issue under hacktobetfest'22

[2022-10-03 04:39] #342 closed

[2022-10-03 04:56] sumitbaroniya commented on #649
Please assign to me this issue under hacktobetfest'22

[2022-10-03 05:02] sumitbaroniya commented on #521
@maheshjainckd please assign me this issue  under hacktoberfest2022.

[2022-10-03 05:03] sumitbaroniya commented on #232
@RidhikaJoshi please assign me this issue under hacktoberfest'22.

[2022-10-03 05:55] codingkush commented on #649
I also want to work on it bro ....you can work on digitial clock app

[2022-10-03 07:06] #338 closed

[2022-10-03 09:31] HARSHSUHANE17 commented on #533
created this . Please check and merge my PR #675

[2022-10-03 10:01] PandaSupremacy commented on #645
I would like to work on this issue.

[2022-10-03 10:02] PandaSupremacy commented on #645
The height of a subtree is 1+ max(height of left subtree, height of right subtree) . It can be calculated recursively.

[2022-10-03 10:04] adarsh-gupta101 opened #681 "Added a JavaScript folder and added array problems."

[2022-10-03 10:07] adarsh-gupta101 commented on #681
#680 Related to this pull request.

[2022-10-03 12:47] Sundesh7 commented on #521
@maheshjainckd Can you please assign me this issue under hacktoberfest2022 ?

[2022-10-03 12:52] Samir433 commented on #643
Can I work on this issue.

[2022-10-03 13:56] deveshparmar opened #694 "Vigenere Cipher encryption and decryption-Python"
hey, @maheshjainckd  i want to contribute this issue under Hacktoberfest please assign it to me.

[2022-10-03 15:19] Greninja143 opened #697 "recursion using cpp"
i want to work on this issue

[2022-10-03 17:56] anush8858 commented on #413
I am 5star with 30,000 rank on hackerrank . Please assign this to me.

[2022-10-04 04:18] #229 closed

[2022-10-04 04:41] #681 closed

[2022-10-04 05:21] UMESH-042 opened #713 "Valid parentheses"
I want to add a code for Valid parentheses to check if the given string is in Balanced parentheses or not.

[2022-10-04 06:50] Saurabhk1975 commented on #149
i want to do assign me @maheshjainckd

[2022-10-04 08:27] reshukr97 commented on #713
can you please assign me this?

[2022-10-04 09:05] nisthajnn commented on #713
please assign this to me @UMESH-042

[2022-10-04 09:06] nisthajnn commented on #645
please assign this to me

[2022-10-04 09:31] Shubhgajj2004 opened #730 "Huffman coding and backtracking"
Hey, @maheshjainckd I want to add two  algorithms in java

1.) Huffman coding
2.)Backtracking

Could you assign me under hacktoberfest tag?

[2022-10-04 09:43] Sandyy07 commented on #730
Hi , Kindly please assign this issue to me .

[2022-10-04 09:43] Sandyy07 commented on #605
Hi , Kindly please assign this issue to me .

[2022-10-04 10:48] kiritocode1 opened #737 "JSX TRANSPILER for ES6 Objects in Web Development"
- [x] Follows Hacktoberfest's Code Of Conduct
- [x]  Copliance with the spirit and to add value .

### PR  👉  #736

[2022-10-04 12:50] Amitpawar88 commented on #628
Hello @maheshjainckd  I want to add this project, I already made this game using Javascript, can you please assign me the issue.
This is my first PR.
Here is link :   [Simon Game](https://amitpawar88.github.io/Simon/)

[2022-10-04 13:31] Saumya9425 opened #742 "ty classromm"

[2022-10-04 14:32] thisispriyanshu opened #745 "Cousins of Binary tree"

[2022-10-04 14:47] Pixel-101 commented on #582
I want to take this issue up and resolve it. I will mannerly document binary search and its different time and space complextities.

[2022-10-04 16:56] MahenoorAhsan commented on #628
hey! @maheshjainckd please assign me this project .
I have already made it ,only few changes of images are required.
looking forward for your reply.

[2022-10-04 17:42] bhumithakur opened #759 "Largest-Sum-of-Non-Adjacent-Numbers"

[2022-10-04 17:44] Mani628 commented on #713
Hi @UMESH-042 . I am a newbie to this open source contest. I am looking forward to learn many new things. I am ready with the code. Can you plz assign me this under label"hacktoberfest22" .

[2022-10-04 17:45] Mani628 commented on #469
Hi @maheshjainckd . I am a newbie to this open source contest. I am looking forward to learn many new things. I am ready with the code. Can you plz assign me this under label"hacktoberfest22" .

[2022-10-04 21:01] 123shanawaz commented on #521
hey! I want to write a code that will give the index of the first and last occurrence of a number in a given array. @maheshjainckd please assign this to me under hacktoberfest2022

[2022-10-05 01:44] JohnnieEmmanuel opened #766 "6box colour game"
6 box with no colour. When a box is clicked the box changes colour to blue, when the last box is clicked all the boxes starts changing back to white starting from the last click to the first in the sequence in which they were clicked.

[2022-10-05 04:39] Subrata-Rajak opened #774 "Recyclerview with ItemClick events Implementation using Kotlin: Native Android Development"

[2022-10-05 04:46] JohnnieEmmanuel opened #775 "6 boxes colour game"
A 6 boxes color game. When a box is clicked the colour changes to green when all 6 boxes have been clicked on the boxes starts changing its colour to red using the sequence in which they were clicked on

[2022-10-05 05:03] #766 closed

[2022-10-05 05:23] Sandyy07 commented on #775
Kindly Please assign me this issue.

[2022-10-05 05:23] Sandyy07 commented on #759
Kindly Please assign me this issue.

[2022-10-05 05:36] Kavita613 opened #777 "Frog Jump Problem"
In this problem, I will explain the proper solution and also code.

[2022-10-05 05:37] Kavita613 commented on #777
kindly assign this issue to me

[2022-10-05 05:43] Kavita613 opened #778 "KMP"
I will give the proper explanation and code for this algo.

[2022-10-05 05:43] Kavita613 commented on #778
I would like to contribute to this algorithm

[2022-10-05 06:33] Pallavibahekar opened #780 "Making Profile page attractive and making the picture align properly align"
Could you please assign me under hacktoberfest 2022

[2022-10-05 06:40] nisthajnn commented on #778
please assign this to me

[2022-10-05 08:23] himanshucse-19 commented on #533
I want to contribute to this repository!!

[2022-10-05 11:52] #241 closed

[2022-10-05 13:41] Korak-Sengupta opened #812 "Weather App made with JS"

[2022-10-05 13:42] Korak-Sengupta commented on #812
Let me submit a JS mini project of Weather App

[2022-10-05 16:31] Shubhamsingh2747 commented on #628
Hey @maheshjainckd , I recently completed making the classic Simon game using Javascript and would like to contribute. Please assign me this issue. Here is a screenshot:

![Screenshot 2022-10-05 220021](https://user-images.githubusercontent.com/72337858/194113243-3779b47f-e741-444f-bc7f-6e1fb2416d09.jpg)

[2022-10-05 16:33] Shubhamsingh2747 commented on #645
Hey @maheshjainckd , please assign me this issue. I would really like to contribute.

[2022-10-05 16:39] Shubhamsingh2747 commented on #812
Hey @maheshjainckd , I already have this project with dynamic background and would like to contribute. Please assign me this issue. Here are few screenshots:

![ss2](https://user-images.githubusercontent.com/72337858/194114775-4c05bec7-b6a3-49ff-b02e-2c048af61527.jpg)

![ss1](https://user-images.githubusercontent.com/72337858/194114841-44b4c606-2b1b-43bc-b02c-1d437d6540f2.jpg)

[2022-10-05 16:41] Sulagna-Dutta-Roy opened #827 "Memory game using Javascript"
I will be creating memory game using html,css,Javascript.

kindly assign me this Issue

[2022-10-05 16:48] sumitkr2000 commented on #628
@maheshjainckd I asked it first. I should get it.

[2022-10-05 16:50] Korak-Sengupta commented on #812
Arey bhai..🤣 competition kyu badha raha hai..aur kaha jaa na...pehle maine
PR maara hai

On Wed, 5 Oct, 2022, 10:09 pm Shubham Singh, ***@***.***>
wrote:

[2022-10-05 16:51] Korak-Sengupta commented on #812
Bro, i too have dynamic background, and have made the PR before you, as well as the Issue.

[2022-10-05 18:33] reshukr97 commented on #713
Hi @UMESH-042 can you please assign tis to me under #815

[2022-10-05 19:17] aparnamittal opened #832 "Temperature converter"
Add a temperature converter made using HTML, CSS, Javascript. It can convert temperature from celcius to farenheit and vice versa

[2022-10-06 07:09] 1Alisha commented on #713
Please assign this work to me

[2022-10-06 07:19] pandyaved98 commented on #745
/assign

[2022-10-06 09:13] Vivek-raj-64 opened #855 "Guess the number game"
I want to add 'Guess the number' game in the Javascript folder. Please assign it to me.

[2022-10-06 09:21] Vivek-raj-64 opened #857 "Clock using Javascript"
I want to add a clock made using javascript in the folder. Please assign this task to me @maheshjainckd .

[2022-10-06 09:24] Vivek-raj-64 commented on #521
Please assign this to me.

[2022-10-06 09:51] skinnyiam commented on #857
I can contribute on this issue , can you please assign it to me

[2022-10-06 10:25] 22tanyabansal commented on #832
Hey @maheshjainckd I want to contribute on this issue. Please assign this task to me under hacktoberfest.

[2022-10-06 10:44] Pallavibahekar commented on #780
Thanks

[2022-10-06 13:37] aparnamittal commented on #832
@22tanyabansal  I have already made the PR for this issue.

[2022-10-06 14:39] #774 closed

[2022-10-06 15:47] roytanmay commented on #857
I would like to contribute over this.
Please assign me this task!

[2022-10-06 19:49] AnantJain05 opened #887 "RGB Color Game using Javascript"
@maheshjainckd  I would like to create a RGB color game using Javascript.

[2022-10-07 05:19] durgeshsingh02 commented on #140
can you assign me this issue

[2022-10-07 09:41] roytanmay commented on #832
@maheshjainckd , please assign me this task.
I want to contribute over this.

[2022-10-07 09:51] Debarpan08 commented on #608
I want to work on this problem. I have solved this problem using Java.

[2022-10-07 09:51] Debarpan08 commented on #608
Can you please assign this to me?

[2022-10-07 11:35] Asttttha opened #915 "Ball game using JS"
This will a fun game where html,css and js are used.

[2022-10-07 11:35] Asttttha commented on #915
please assign me this issue

[2022-10-07 14:47] yanicodeverse commented on #855
hello , i would like to contribute on this project would you please assign me

[2022-10-07 15:17] sufiyanirfan3 commented on #605
Hi kindly assign this issue to me

[2022-10-07 17:45] manshi23 opened #923 "Adding stack using queue Implementation"
I want to implement stack using queue in the stack question , kindly assign this topic to  me under hactoberfest.

[2022-10-07 17:47] manshi23 opened #924 "Adding Css to the calculator"
Hey , I want to add css in the calculator . I 'll make the interface as like glass of multicolour.
pls assign this to me under hacktoberfest 2022

[2022-10-08 08:31] xx-abhijeet-xx commented on #427
Can you please assign this issue to me sir?
@stutimohta20

[2022-10-08 08:39] xx-abhijeet-xx commented on #521
hello sir ! can you assign this issue to me? I will solve this issue in any programming language.

[2022-10-08 09:52] Ishnoor-kaur opened #938 "sorting programs in java"
hey i can contribute bubble sort and selection sort programs in java. please assign this to me

[2022-10-08 10:24] Akash-moon commented on #533
Hello @maheshjainckd  sir, I want to contribute my efforts on this problem.
plz assign it to me under hacktoberfest22.

[2022-10-08 10:24] Akash-moon commented on #521
Hello @maheshjainckd  sir, I want to contribute my efforts on this problem.
plz assign it to me under hacktoberfest22.

[2022-10-08 10:31] Akash-moon commented on #427
is it still open for contribution ??
if yes please assign it to me .

[2022-10-08 10:46] Samir433 commented on #938
@maheshjainckd Hey I can contribute all 5 sorting algorithm in java  and also in python . please assign this to me

[2022-10-08 14:45] malikzi21 commented on #354
If this task got selected in hacktoberfest then please assign this task to me

[2022-10-08 14:59] malikzi21 commented on #140
I am adding pull request kindly merge it

[2022-10-08 16:10] jawadkhanpk commented on #938
Hi, I can contribute to this issue I have a strong profile in DSA, Please assign me this issue so that I can start contribution to it

[2022-10-08 16:13] jawadkhanpk commented on #605
Hi I can you please assign this issue to me I am working on same Hangman Game in Python which is going to be very interesting, Please assign me so that I can start contribution to this issue

[2022-10-08 17:28] Bikash0007 commented on #484
Please assign this issue to me under HacktoberFest 2022.

[2022-10-08 17:48] rohitpadage commented on #923
I would like to implement the stack using queue in python. Please assign the issue asap.

[2022-10-08 19:20] mayank-del opened #954 "ping pong game using python"
@maheshjainckd  Can I add my Ping pong game project in python Under hacktoberfest 22

[2022-10-08 19:21] mayank-del commented on #954
@maheshjainckd  please assign this issue to me

[2022-10-09 05:19] harshita9621 opened #959 "Palindrome Linked List"
Please assign this issue to me @maheshjainckd  under hacktoberfest.

[2022-10-09 07:07] itzzsoumya commented on #924
Hey, I want to contribute on this issue. Please assign this task to me.

[2022-10-09 07:09] itzzsoumya commented on #521
Hey, I want to contribute on this issue. Please assign this task to me.

[2022-10-09 07:53] Yadnyesh-Dashpute commented on #938
Hello @maheshjainckd I would like to Contribute. I know the popular sorting Algorithms like merge sort, quick sort, bubble sort etc. Please assign me this issue

[2022-10-09 10:00] himanshu17-2000 opened #966 "Bank Management System Using React.js and Firebase"

[2022-10-09 10:13] #775 closed

[2022-10-09 15:54] Wra8th commented on #966
can you please assign me this issue under hacktoberfest?

[2022-10-09 17:37] shrutimeg commented on #938
hello kindly assign this to me I want to solve this issue

[2022-10-09 19:26] el3v3n011 commented on #924
hello! i want to contibute to this project. pls assign it to me

[2022-10-10 12:10] ayushsaha1018 opened #998 "Add a full stack project"
I want to add a full stack project made using MERN stack. You can see it [here ](https://jobify-cyberninja.herokuapp.com/landing).
Github [repo](https://github.com/ayushsaha1018/jobify)

[2022-10-10 14:03] gasaroleila opened #999 "Car rental system"
A C++ car rental system.

[2022-10-10 14:52] adityasahu77 commented on #915
hello mam i want to contribute in this please assign it to me.

[2022-10-10 14:53] adityasahu77 commented on #855
hello mam i want to contribute in this please assign it to me.

[2022-10-10 14:53] adityasahu77 commented on #777
hello mam i want to contribute in this please assign it to me.

[2022-10-10 14:53] adityasahu77 commented on #742
hello mam i want to contribute in this please assign it to me.

[2022-10-10 15:45] #832 closed

[2022-10-10 22:12] 002ayush commented on #857
I request you to please assign this to me.
I want to contribute on this issue.

[2022-10-11 06:14] srishti011 opened #1013 "Digital Clock GUI"
@maheshjainckd I want to contribute this project. Please assign me the issue.

[2022-10-11 06:26] #1013 closed

[2022-10-11 11:37] Anukool1729 commented on #140
if this issue is still not resolved could you please assign it to me.

[2022-10-11 16:05] shrutimeg commented on #521
I want to solve this issue under hacktoberfest22 please assign this issue.

[2022-10-11 16:16] shrutimeg commented on #141
I want to work add a recursion folder  kindly assign this to me

[2022-10-12 02:30] divyanshagarwal053 commented on #999
Please assign me to solve this

[2022-10-12 02:31] divyanshagarwal053 commented on #959
Please assign this issue to me

[2022-10-12 07:05] 123shanawaz opened #1038 "house robber"
hey @maheshjainckd i want to add this solution in cpp folder can you assign me in under hacktober fest label??

[2022-10-13 10:03] priyaastha opened #1060 "Want to add word limit counter using html, css and js"
Please assign me this issue under hacktoberfest

[2022-10-13 10:20] Vishal98999 opened #1061 "A script for fetching and storing all the companies listed on BSE & NSE."
A script  that can fetch all the names of companies listed on BSE & NSE and store all the details in a excel file or word file.

[2022-10-13 16:48] palprashant2002 opened #1068 "Basic introduction of various functions of Pandas library"
Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python.

[2022-10-13 16:49] palprashant2002 commented on #1068
Please add this issue to repo, add label hacktoberfest and assign it to me...

[2022-10-13 18:14] Jyotisaini-2001 commented on #959
Hii, I am interested in contributing the code of Palindrome Linked List problem in cpp. Please assign me this issue.

[2022-10-13 18:15] Jyotisaini-2001 commented on #923
Hii, I am interested in contributing the code of Palindrome Linked List problem. Please assign me this issue.

[2022-10-13 18:16] Jyotisaini-2001 commented on #697
Hii, I am interested in contributing the code of recursion using cpp. Please assign me this issue.

[2022-10-13 18:17] Jyotisaini-2001 commented on #713
Hii, I am interested in contributing the code of Valid parentheses. Please assign me this issue.

[2022-10-13 18:18] Jyotisaini-2001 commented on #439
Hii, I am interested in contributing the code of Maximum Difference Between Two Elements in array. Please assign me this issue.

[2022-10-14 08:29] KhushiiAgarwal commented on #1068
Please assign this to me

[2022-10-14 19:12] Sakshi2002-Sinha commented on #999
Hello, Please assign me this issue.
Thanks in advance :)

[2022-10-14 19:12] Sakshi2002-Sinha commented on #1038
Hello, Please assign me this issue.
Thanks in advance :)

[2022-10-14 19:12] Sakshi2002-Sinha commented on #959
Hello, Please assign me this issue.
Thanks in advance :)

[2022-10-15 08:27] Mridul-2003 commented on #1060
please assign me this issue

[2022-10-15 10:03] jitendrakohar opened #1087 "Alternative Sorting"
i want to write dp code on Alternative Sorting

[2022-10-16 04:00] jawadkhanpk commented on #1087
Hey I have good profile in DSA I wanted to contribute to this issue. Please assign me

[2022-10-16 04:02] jawadkhanpk commented on #954
Hey I'm experienced python developer please assign this issue to me so that I can contribute Ping Pong game to this repo. Thanks

[2022-10-16 04:05] jawadkhanpk commented on #694
Hey I have developed my own Algorithm using Ceaser Cifer Technique in Python I wanted to contribute this to issue #649.
Please assign me this issue. Thanks

[2022-10-16 09:18] 9520prashant commented on #959
Hy , I am DSA mentor , I want to contribute in this issue , please assign this issue !

[2022-10-16 09:19] 9520prashant commented on #857
Hello, I want to contribute in this , please assign me this issue!

[2022-10-16 09:20] 9520prashant commented on #745
I Know Binary Tree very Well Please Assign me this issue!!

[2022-10-16 10:05] RP2025 commented on #521
Please assign me this issue, I would love to contribute in it using python

[2022-10-16 10:21] RP2025 commented on #533
@maheshjainckd I would like to contribute in this issue, kindly assign me this

[2022-10-16 17:21] sarthaknerd commented on #915
Hello, Sir/Madame

Could you please assign this task to me 

[2022-10-16 17:24] adityasahu77 commented on #915
Yes

[2022-10-17 06:53] coderboy-yash commented on #924
Hey, I am interested to contribute on this issue. Can you assign this task to me.

[2022-10-17 13:06] ritika21-code commented on #959
I want to contribute to this issue. please assign this issue to me.

[2022-10-17 13:07] ritika21-code commented on #924
I want to contribute to this issue. please assign this issue to me.

[2022-10-17 13:07] ritika21-code commented on #857
I want to contribute to this issue. please assign this issue to me.

[2022-10-17 13:07] ritika21-code commented on #745
I want to contribute to this issue. please assign this issue to me.

[2022-10-17 13:08] ritika21-code commented on #1060
I want to contribute to this issue. please assign this issue to me.

[2022-10-17 13:08] ritika21-code commented on #1038
I want to contribute to this issue. please assign this issue to me.

[2022-10-17 13:08] ritika21-code commented on #713
I want to contribute to this issue. please assign this issue to me.

[2022-10-17 17:11] saurav1207 commented on #521
Hello @maheshjainckd sir,
I would like to contribute my code in C++ for this issue under Hacktoberfest2022.
Could you please assign me with this issue?
Thank you!!

[2022-10-18 05:08] anjaliisonii commented on #924
Please assign this work to me. I will contribute code to this issue ..Kindy assign me this work.

[2022-10-18 10:16] #628 closed

[2022-10-19 08:28] Dipanjan2910 commented on #938
Kindly assign this to me

[2022-10-19 09:54] #439 closed

[2022-10-20 16:40] dispuzzler opened #1141 "Largest Palindrome Problem"
Hello, please assign me this problem because this is a significant DSA interview question asked in a google coding contest.

[2022-10-21 05:51] Vartika123456 commented on #777
please assign this to me

[2022-10-21 16:45] VibhorGits commented on #1141
Hey, can you assign me this issue. I am quite familiar with palindrome. This would be my first pull request.

[2022-10-22 05:17] Manishgupta200 commented on #887
Assign it to me

[2022-10-22 11:25] Vanshika-Batra opened #1159 "Deleting whole Linked List in CPP"
Hey @maheshjainckd! I'd like to contribute by adding the code of deleting the whole linked list in CPP under the label of Hacktoberfest2022. Kindly assign it to me.

[2022-10-23 05:37] Abhishek-Nag29 commented on #1159
hey @maheshjainckd  I would like to contribute on this work  by adding the code part of deleting the whole linked list in cpp under Hactoberfest2022 label .please assign it to me.

[2022-10-23 07:06] SJ-Kumar commented on #998
I would like to add my project here. Please assign.

[2022-10-23 11:01] Souviksamanta34 commented on #1141
Hey, I want to contribute in this issue.

[2022-10-23 11:01] Souviksamanta34 commented on #998
Hey, I want to contribute in this issue.

[2022-10-23 11:44] sahooabhipsa10 opened #1173 "I would like to add a Longest Palindromic Subsequence Problem"
I would like to add a Longest Palindromic Subsequence Problem in python

[2022-10-24 05:25] ijaz-ali-dev commented on #1159
Hey @maheshjainckd! I'd like to contribute by adding the code under the label Hacktoberfest2022. Kindly assign it to me.

[2022-10-24 06:52] Chetnagupta27 commented on #1159
hey @maheshjainckd I would like to contribute on this work by adding the code part of deleting the whole linked list in cpp under Hactoberfest2022 label .please assign it to me.

[2022-10-25 05:01] manshi23 opened #1189 "Adding More problems"
I want to add some more  standard problems of dsa in js with brute force to optimised approach .
Kindly assign this to me.

[2022-10-26 04:05] kumarmanishrai opened #1202 "Adding bubble sort in java folder"

[2022-10-26 04:10] kumarmanishrai commented on #1202
using recursive approach in java

[2022-10-26 10:46] yashkhandelwal123 commented on #1202
I would like to work on it. Please assign it to me.

[2022-10-26 21:18] nikhilmaurya26 opened #1210 "Euclid’s Algorithm to find GCD of two numbers in C"

[2022-10-27 13:24] prabhleenn commented on #938
please assign me this

[2022-10-27 15:26] justkingsley commented on #1061
Hello, please add the hacktoberfest lable and assign it to me.

[2022-10-28 12:27] #533 closed

[2022-10-30 20:14] aditya10003 commented on #521
NOT-PARTICIPATING
is coming on hactoberfest
please approve it

[2022-10-31 08:15] Meghwantsingh commented on #446
I am following all rules of hacktoberfest 2022 but still my repo is excluded?
So, what exactly should new maintainers do !

[2022-10-31 15:31] Hemant-Lohar opened #1231 "Can I add ReactJs Project"
Want to add todo list web app project.

[2022-10-31 15:32] Hemant-Lohar commented on #1231
Can you assign me this @maheshjainckd

[2022-10-31 16:28] #713 closed

[2022-10-31 16:46] Hemant-Lohar commented on #1231
@maheshjainckd ?

[2022-10-31 17:14] #1231 closed

[2022-10-31 17:14] #1210 closed

[2022-10-31 17:15] #1173 closed

[2022-10-31 17:15] #1159 closed

[2022-10-31 17:15] #857 closed

[2022-10-31 17:15] #780 closed

[2022-10-31 17:15] #812 closed

[2022-10-31 17:16] #1141 closed

[2022-10-31 17:16] #1087 closed

[2022-10-31 17:16] #1068 closed

[2022-10-31 17:16] #1061 closed

[2022-10-31 17:17] #1060 closed

[2022-10-31 17:17] #1038 closed

[2022-10-31 17:17] #999 closed

[2022-10-31 17:17] #998 closed

[2022-10-31 17:17] #966 closed

[2022-10-31 17:17] #959 closed

[2022-10-31 17:17] #954 closed

[2022-10-31 17:17] #938 closed

[2022-10-31 17:17] #924 closed

[2022-10-31 17:18] #923 closed

[2022-10-31 17:18] #778 closed

[2022-10-31 17:19] #887 closed

[2022-10-31 17:19] #777 closed

[2022-10-31 17:19] #745 closed

[2022-10-31 17:19] #730 closed

[2022-10-31 17:19] #697 closed

[2022-10-31 17:19] #694 closed

[2022-10-31 17:19] #649 closed

[2022-10-31 17:19] #645 closed

[2022-10-31 17:20] #608 closed

[2022-10-31 17:20] #599 closed

[2022-10-31 17:20] #605 closed

[2022-10-31 17:20] #590 closed

[2022-10-31 17:20] #582 closed

[2022-10-31 17:20] #521 closed

[2022-10-31 17:21] #487 closed

[2022-10-31 17:21] #485 closed

[2022-10-31 17:21] #427 closed

[2022-10-31 17:21] #484 closed

[2022-10-31 17:21] #469 closed

[2022-10-31 17:21] #413 closed

[2022-10-31 17:21] #364 closed

[2022-10-31 17:21] #331 closed

[2022-10-31 17:21] #354 closed

[2022-10-31 17:22] #329 closed

[2022-10-31 17:22] #327 closed

[2022-10-31 17:22] #325 closed

[2022-10-31 17:22] #320 closed

[2022-10-31 17:22] #301 closed

[2022-10-31 17:22] #295 closed

[2022-10-31 17:22] #278 closed

[2022-10-31 17:22] #263 closed

[2022-10-31 17:22] #243 closed

[2022-10-31 17:22] #240 closed

[2022-10-31 17:23] #232 closed

[2022-10-31 17:23] #212 closed

[2022-10-31 17:23] #151 closed

[2022-10-31 17:23] #170 closed

[2022-10-31 17:23] #149 closed

[2022-10-31 17:23] #141 closed

[2022-10-31 17:23] #234 closed

[2022-10-31 17:23] #210 closed

[2022-10-31 17:23] #150 closed

[2022-10-31 17:23] #140 closed

[2022-10-31 17:24] #142 closed